.homeMain{
    margin: auto;
    width: 30%;
    height: fit-content;
    align-items: center;
}
.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #ccc;
    margin-bottom: 5px;
}
.itemBlock{
    display: flex;
    flex-direction: column;
}
.singleItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: crimson;
    align-items: center;
    border: 1px solid black;
}